@import "tailwindcss";
@import "./assets/stylesheets/fonts.css";

@theme {
  --font-crimson-text: "Crimson Text", serif;
  --font-figtree: "Figtree", sans-serif;
}

@utility debug {
  border: 2px solid red;
}
